* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #72b7f3;
}

.elegir {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Alinea los elementos al centro */
    width: 80%;
}

.elegir button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: #9b59b6;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 0 10px;
}

.elegir button:hover {
    background: #71b7e6;
}

.autentificacion, .registrarse {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    border: 2px solid #9b59b6;
    margin-bottom: 20px;
}

.productos-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}

.alta-productos, .productos-disponibles {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    border: 2px solid #9b59b6;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}

.cajas {
    margin-bottom: 1.5rem;
    text-align: left;
}

.cajas label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

.cajas input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: #9b59b6;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #71b7e6;
}

.imagen {
    display: block;
    margin: 0 auto 1rem;
    max-width: 100px;
}

.oculto {
    display: none;
}

.producto {
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
